#dropdown{
    position: relative;
    display: inline-block;
}
#content{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(64, 76, 164, 0.2);
        padding: 12px 16px;
}
#dropdown:hover #content{
    display: block;
}
#range{
    display: inline-block;
    position: relative;
}
#duration{
    display: none;
    position: absolute;
}
#range:hover #duration{
    display: block;
    position: relative;
}